streamlit
numpy
pandas
plotly
prophet
supabase
scikit-learn
numpy
streamlit-option-menu
yfinance
ydata-profiling
deepface
opencv-python
tf-keras
ascii_magic
langchain
langchain_community
sentence-transformers
faiss-cpu
pdfplumber
python-docx
langchain_openai
pypdf
docx2txt
pillow
langchain-openai
folium
streamlit-folium
geocoder
crewai
deepseek
requests